
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"/>
    <title>个人信息</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/element/index.css">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="wrapper" v-cloak>
    <!--导航栏-->
	<div class="menuW" style="float: left">
		<div class="sideMenu">
			<div class="head">{{system.title}}</div>
			<ul>
				<li class="nLi">
					<h3><i class="fa fa-dashboard"></i>首页<span class="fa fa-angle-up arrow"></span></h3>
					<ul class="sub">
						<li><a href="index.html"><i class="fa fa-dashboard"></i>数据分忻</a></li>
					</ul>
				</li>

				<li class="nLi" v-if="this.user.role == 3">
					<h3><i class="fa fa fa-dashboard icon"></i>商家管理<span class="fa fa-angle-up arrow"></span>
					</h3>
					<ul class="sub">

						<li v-if="authority.indexOf(1000007) != -1">
							<a href="shopInfoSet.html"><i class="fa fa-table"></i>店铺信息设置与维护</a>
						</li>
						<li v-if="authority.indexOf(1000008) != -1">
							<a href="messageInfo.html"><i class="fa fa-table"></i>美妆知识资讯分享</a>
						</li>
						<li v-if="authority.indexOf(1000009) != -1">
							<a href="typeInfo.html"><i class="fa fa-table"></i>商品类别管理</a>
						</li>
						<li v-if="authority.indexOf(1000010) != -1">
							<a href="goodsInfo.html"><i class="fa fa-table"></i>商品管理</a>
						</li>
						<li v-if="authority.indexOf(1000011) != -1">
							<a href="orderInfo.html"><i class="fa fa-table"></i>订单处理</a>
						</li>
						<li v-if="authority.indexOf(1000012) != -1">
							<a href="marketingCampaign.html"><i class="fa fa-table"></i>营销活动设置</a>
						</li>

						<li v-if="authority.indexOf(1000013) != -1">
							<a href="adminInfo.html"><i class="fa fa-table"></i>客服团队管理</a>
						</li>
						<li v-if="authority.indexOf(1000014) != -1">
							<a href="adminInfo.html"><i class="fa fa-table"></i>店铺系统布局调整</a>

						</li>
					</ul>
				</li>
				<li class="nLi"  v-if="this.user.role == 2">
					<h3><i class="fa fa fa-dashboard icon"></i>客服人员<span class="fa fa-angle-up arrow"></span>
					</h3>
					<ul class="sub">

						<li v-if="authority.indexOf(2000001) != -1">
							<a href="commentInfo.html"><i class="fa fa-table"></i>用户咨询回复</a>
						</li>

						<li v-if="authority.indexOf(2000002) != -1">
							<a href="orderIssueHandling.html"><i class="fa fa-table"></i>订单问题处理</a>
						</li>
						<li v-if="authority.indexOf(2000003) != -1">
							<a href="orderReturnsExchanges.html"><i class="fa fa-table"></i>商品退换货协助</a>
						</li>
						<li v-if="authority.indexOf(2000004) != -1">
							<a href="orderSaleServiceFollow.html"><i class="fa fa-table"></i>售后服务跟进</a>
						</li>
					</ul>
				</li>
				<li class="nLi on"  v-if="this.user.role == 1">
					<h3><i class="fa fa fa-dashboard icon"></i>系统管理员<span class="fa fa-angle-up arrow"></span>
					</h3>
					<ul class="sub">
						<li v-if="authority.indexOf(2) != -1">
							<a href="systemInfoSet.html"><i class="fa fa-table"></i>系统配置与维护</a>
						</li>
						<li v-if="authority.indexOf(3) != -1">
							<a href="userInfo.html"><i class="fa fa-table"></i>用户与商家审核管理</a>
						</li>
						<li v-if="authority.indexOf(3) != -1">
							<a href="accounSecurityRole.html"><i class="fa fa-table"></i>数据安全管理和权限设置</a>
						</li>
						<li v-if="authority.indexOf(3) != -1">
							<a href="troubleshooting.html"><i class="fa fa-table"></i>故障排查与系统升级</a>
						</li>
						<li v-if="authority.indexOf(3) != -1">
							<a href="dataAnalysis.html"><i class="fa fa-table"></i>数据分析报告</a>
						</li>
						<li v-if="authority.indexOf(1000001) != -1">
							<a href="advertiserInfo.html"><i class="fa fa-table"></i>公告信息</a>
						</li>
						<li>
							<a href="javascript:void(0)" @click="personalPage" class="active"><i class="fa fa-user"></i>个人信息</a>
						</li>
					</ul>
				</li>

				<li class="nLi">
					<h3><i class="fa fa-unlock-alt"></i>修改密码<span class="fa fa-angle-up arrow"></span></h3>
					<ul class="sub">
						<li>
							<a href="updatePassword.html"><i class="fa fa-unlock-alt"></i>修改密码</a>
						</li>
					</ul>
				</li>
				<li class="nLi">
					<h3><i class="fa fa-power-off"></i>退出登录<span class="fa fa-angle-up arrow"></span></h3>
					<ul class="sub">
						<li>
							<a href="javascript:void(0)" @click="logout"><i class="fa fa-power-off"></i>退出登录</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
    <!-- 主体 -->
    <div class="main">
        <!-- 头部开始 -->
        <div class="main-head" style="width: 100%; display: flex">
            <div style="flex: 1; text-align: right">

                <a href="javascript:void(0)" @click="personalPage">当前登录：<span style="color: #333333">{{user.name}}</span></a>
                <a href="javascript:void(0)" @click="logout">退出登录</a>
            </div>
        </div>
        <!-- 头部结束 -->

        <!-- 主体开始 -->
        <div style="padding: 0 20px">
            <div>
                <div class="table-title">个人信息</div>
            </div>

            <!-- 表格主体-->
            <div style="margin-top: 10px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">个人信息</div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <input type="hidden" v-model="entity.id">
                                    								<div class="form-group">
									<label class="col-sm-3 control-label">姓名</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" v-model="entity.name" placeholder="请输入姓名" id="name">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">昵称</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" v-model="entity.nickName" placeholder="请输入昵称" id="nickName">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">性别</label>
									<div class="col-sm-7">
										<label class="radio-inline">
											<input type="radio" value="男" v-model="entity.sex" id="sex">男
										</label>
										<label class="radio-inline">
											<input type="radio" value="女" v-model="entity.sex" id="sex">女
										</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">年龄</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" v-model="entity.age" placeholder="请输入年龄" id="age">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">生日</label>
									<div class="col-sm-7">
										<div class="block">
											<el-date-picker v-model="entity.birthday" id="birthday" type="datetime" clearable value-format="yyyy-MM-dd HH:mm:ss" placeholder="选择日期时间"></el-date-picker>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">手机号</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" v-model="entity.phone" placeholder="请输入手机号" id="phone">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">地址</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" v-model="entity.address" placeholder="请输入地址" id="address">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">编号</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" v-model="entity.code" placeholder="请输入编号" id="code">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">邮箱</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" v-model="entity.email" placeholder="请输入邮箱" id="email">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">身份证</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" v-model="entity.cardId" placeholder="请输入身份证" id="cardId">
									</div>
								</div>

                                </form>
                                <div style="text-align: center">
                                    <button type="button" class="btn btn-primary" v-on:click="update()">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 表格主体结束-->
        </div>
        <!-- 主体结束 -->
    </div>
</div>

<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/my.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="../js/element/index.js"></script>

<script>
    function msg(type, msg) {
        Vue.prototype.$message({
            type: type, // success（成功）、warning（警告）, error(错误)
            message: msg,
            duration: 2000,
            offset: 100,
            center: true,
        })
    }

    new Vue({
        el: '#wrapper',
        data: {

            user: {},
            system:{title: '美妆商城', tel: '400-800-2026'},
            authority: [],
            entity: {
                sex: '男'
            }
        },
        created: function () {

            this.loadData();
            this.system = JSON.parse(localStorage.getItem('system')) || this.system;

            axios.get("/authority").then(res => {
                if (res.data.code === '0') {
                    this.authority = res.data.data;
                } else {
                    msg('error', res.data.msg);
                }
            });

            this.user = JSON.parse(localStorage.getItem('user'));

        },
        methods: {
            loadData() {
                axios.get("/getAccountInfo").then(res => {
                    if (res.data.code === '0') {
                        this.entity = res.data.data;
                    } else {
                        msg('error', res.data.msg);
                    }
                });
            },
            update() {
                if (checkValid(this.entity)) {
                    axios.put(
                        "/adminInfo", this.entity
                    ).then(res => {
                        if (res.data.code === '0') {
                            msg('success', '更新成功');
                            this.loadData();
                        } else {
                            msg('error', res.data.msg);
                        }
                    })
                }
            },
            logout() {
                logout();
				enterEndPage(1);
            }
        }
    })
</script>
</body>
</html>